<%
  _site.load_request
  
  if !_get["s"]
    if !_session["host"]
      show = "connect"
    else
      show = "dashboard"
    end
  else
    show = _get["s"]
  end
  
  showp = "../pages/#{show}.rhtml"
  
  _hb.import(showp)
%>